.libraryShelf4Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  object-fit: cover;
  opacity: 0.8;
}
.bookSearchChild,
.bookSearchItem {
  position: absolute;
  border-radius: var(--br-31xl);
}
.bookSearchChild {
  top: 209px;
  left: 24px;
  background-color: var(--color-dimgray);
  width: 1206px;
  height: 464px;
}
.bookSearchItem {
  top: 360px;
  left: 92px;
  width: 368px;
  height: 258px;
  object-fit: cover;
}
.bookSearch1 {
  position: absolute;
  top: 354px;
  left: 643px;
  text-decoration: underline;
  display: inline-block;
  width: 336px;
  height: 58px;
}
.bookSearch2 {
  position: absolute;
  top: 31px;
  left: 41px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.bookSearchWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 243px;
  left: 92px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 99px;
  overflow: hidden;
}
.addBook {
  position: absolute;
  top: 31px;
  left: 63px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.addBookWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 243px;
  left: 528px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 99px;
  overflow: hidden;
}
.addBookWrapper:hover,
.signoutWrapper:hover {
  background-color: var(--color-steelblue);
}
.signout {
  position: absolute;
  top: 31px;
  left: 76px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.signoutWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 243px;
  left: 941px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 99px;
  overflow: hidden;
}
.bookSearchInner,
.search {
  position: absolute;
  font-family: var(--font-inter);
}
.bookSearchInner {
  border: 0;
  font-size: var(--font-size-11xl);
  background-color: var(--color-white);
  top: 461px;
  left: 628px;
  border-radius: var(--br-11xl);
  width: 367px;
  height: 58px;
  overflow: hidden;
}
.search {
  top: 4px;
  left: 17px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  text-align: left;
}
.searchWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 551px;
  left: 762px;
  border-radius: var(--br-11xl);
  width: 100px;
  height: 28px;
  overflow: hidden;
}
.searchWrapper:hover {
  background-color: var(--color-whitesmoke-200);
}
.edulib {
  position: absolute;
  top: 56px;
  left: 425px;
  font-size: var(--font-size-109xl);
  display: inline-block;
  width: 1027px;
  height: 115px;
}
.bookSearch {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-whitesmoke-100);
  font-family: var(--font-inter);
}
