.libraryShelf2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  object-fit: cover;
  opacity: 0.8;
}
.signoutStudentChild {
  position: absolute;
  top: 209px;
  left: 24px;
  border-radius: var(--br-31xl);
  background-color: var(--color-dimgray);
  width: 1206px;
  height: 464px;
}
.placeOrder {
  position: absolute;
  top: 31px;
  left: 44px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.placeOrderWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 245px;
  left: 650px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 99px;
  overflow: hidden;
}
.bookSearchWrapper:hover,
.placeOrderWrapper:hover,
.signOutWrapper:hover {
  background-color: var(--color-steelblue);
}
.signOut {
  position: absolute;
  top: 31px;
  left: 70px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.signOutWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 245px;
  left: 963px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 99px;
  overflow: hidden;
}
.bookSearch {
  position: absolute;
  top: 31px;
  left: 41px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.bookSearchWrapper,
.returnBookWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 245px;
  left: 24px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 99px;
  overflow: hidden;
}
.returnBookWrapper {
  left: 339px;
}
.returnBookWrapper:hover {
  display: flex;
  width: 267px;
  height: 99px;
}
.edulib {
  position: absolute;
  top: 56px;
  left: 425px;
  display: inline-block;
  width: 1027px;
  height: 115px;
}
.images63 {
  position: absolute;
  top: 360px;
  left: 549px;
  width: 201px;
  height: 201px;
  object-fit: cover;
}
.signout {
  position: absolute;
  top: 9px;
  left: 48px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.signoutWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 581px;
  left: 509px;
  border-radius: var(--br-11xl);
  width: 282px;
  height: 92px;
  overflow: hidden;
}
.returnBookWrapper:hover,
.signoutWrapper:hover {
  background-color: var(--color-steelblue);
}
.signoutStudent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--color-whitesmoke-100);
  font-family: var(--font-inter);
}
