.libraryShelf4Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 720px;
  object-fit: cover;
  opacity: 0.8;
}
.signoutAdminChild {
  position: absolute;
  top: 209px;
  left: 24px;
  border-radius: var(--br-31xl);
  background-color: var(--color-dimgray);
  width: 1206px;
  height: 464px;
}
.bookSearch {
  position: absolute;
  top: 31px;
  left: 41px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.bookSearchWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 243px;
  left: 92px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 99px;
  overflow: hidden;
}
.addBook {
  position: absolute;
  top: 31px;
  left: 63px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.addBookWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 243px;
  left: 528px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 99px;
  overflow: hidden;
}
.addBookWrapper:hover,
.signoutContainer:hover,
.signoutWrapper:hover {
  background-color: var(--color-steelblue);
}
.signout {
  position: absolute;
  top: 31px;
  left: 76px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.signoutWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 243px;
  left: 941px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 99px;
  overflow: hidden;
}
.edulib {
  position: absolute;
  top: 56px;
  left: 425px;
  display: inline-block;
  width: 1027px;
  height: 115px;
}
.images62 {
  position: absolute;
  top: 360px;
  left: 540px;
  width: 201px;
  height: 201px;
  object-fit: cover;
}
.signout1 {
  position: absolute;
  top: 9px;
  left: 38px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.signoutContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 567px;
  left: 500px;
  border-radius: var(--br-31xl);
  width: 267px;
  height: 80px;
  overflow: hidden;
}
.signoutAdmin {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--color-whitesmoke-100);
  font-family: var(--font-inter);
}
